body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #d9d9d9;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  align-self: center;
}

.display {
  background-color: #da1a1a;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 5px;
}

.display input {
  border: none;
  font-size: 24px;
  height: 50px;
  outline: none;
  text-align: right;
  width: 100%;
}

.keypad {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button {
  background-color: #1939a4;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #b3b3b3;
  color: #333333;
  font-size: 24px;
  outline: none;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
